$color-primary: #ff5d00;
$color-primary-light: #ffb900;
$color-primary-dark: #ff7730;
$color-grey-light-1: #fedebe;
$default-font-size: 1.6rem;
$color-secondary-light: #7ed56f;
$color-secondary-dark: #28b485;
$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;
