.feature-box {
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 1rem;
  padding: 2rem;
  max-width: 20rem;
  border-radius: 3px;

  transition: transform 0.3s;

  width: 20%;
  margin: 2rem;
  &__icon {
    font-size: 3rem;

    color: white;
    padding: 1rem;
    border-radius: 3px;

    // background-image: linear-gradient(
    //   to right,
    //   $color-primary-light,
    //   $color-primary-dark
    // );
    // -webkit-background-clip: text;

    // background-clip: text;

    // color: transparent;
  }
  &:hover {
    transform: translateY(-1.5rem) scale(1.03);
  }

  @include respond(tab-port) {
    font-size: 56.25%;
    // width: 40%;
  }
  @include respond(phone) {
    width: 50%;
  }
  &__text {
    font-size: 1.5rem;
    color: #444444;
  }
}

// .card {
//   perspective: 150rem;
//   -moz-perspective: 150rem;
//   &__side {
//     background-color: orangered;
//     font-size: 2rem;
//     height: 50rem;
//     transition: all 0.8s;
//   }

//   &:hover &__side {
//     transform: rotateY(180deg);
//   }
// }
